<header>
  <!--hero section begins-->
  <div class="container-fluid" id="top">
    <div class="row">
      <div class="col-md-12 hero" data-0="background-position: 0px 0px;" data-600="background-position:-300px -300px;">
        <% if !is_mobile_or_tablet %>
            <div class="cloud" data-0="margin-left:-100px; margin-top:20px" data-200="margin-left:200px; margin-top:0px;">
              <img src="../clouds.png"/>
            </div>
            <div class="cloud" style="position: relative; top:220px;" data-0="margin-left: 1200px; margin-top:-16%" data-100="margin-left:1600px; margin-top:-20%;">
              <img src="../cloud_large.png"/>
            </div>
            <div class="cloud" data-0="margin-left: 600px; margin-top:40px" data-100="margin-left:1200px; margin-top:20px;">
              <img src="../clouds2.png"/>
            </div>
            <div class="cloud" data-0="margin-left: 790px; margin-top:120px" data-200="margin-left:1300px; margin-top:50px;">
              <img src="../clouds2.png"/>
            </div>
            <div class="cloud" data-0="margin-left:200px; margin-top:-200px" data-300="margin-left:1100px; margin-top:-220px;">
              <img src="../clouds3.png"/>
            </div>
            <div class="cloud" data-0="margin-left:950px; margin-top:-200px" data-100="margin-left:1200px; margin-top:-220px;">
              <img src="../clouds.png"/>
            </div>
        <% end %>
        <!--profile pic area-->
        <main>
          <div class="container">
            <div class="row">
              <div class="wow slideInLeft col-md-12 profile-pic-area" data-wow-delay=".5s">
                <div class="profile-pic-inner" data-0="opacity:1;" data-10="opacity:0;">
                  <h2>John Wallace</h2>
                  <h4>Outdoor Enthusiast & Tinkerer</h4>
                  <a href="#objective" class="visible-lg" id="objective-link" style="margin-left:21%; color:#ffffff;"><i class="fa fa-angle-down fa-3x wow pulse" data-wow-delay="2s" data-wow-duration="1s" data-wow-iteration="200"></i></a>
                </div>
              </div>
            </div>
            <div class="profile-pic">
              <img class="img-circle" src="../john_wallace.jpg"/>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
<!--hero section ends-->
<!--objective area-->
<section>
  <div class="container-fluid my-objective-wrap" id="objective">
    <div class="container">
      <div class="row">
        <div class="my-objective col-md-12">
          <h1>My Objective</h1>
          <p>
            To obtain a challenging and rewarding web developer
            position where I can utilize my knowledge, proficiency, and skills to
            contribute to a company's growth. To grow as a developer by learning from colleagues and continually
            nurturing
            my creative personality.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--what I have to offer area-->
<!--full width blue background-->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 skills-area-wrap">
        <div class="arrow-down"></div>
        <!--what I have to offer inner area-->
        <div class="container">
          <div class="row">
            <div class="skills-title" id="skills-region">
              <h1>What I Have to Offer</h1>
            </div>
            <div class="skills-area">
              <!--creativity area-->
              <div class="skills-inner-wrap wow bounceInRight" data-wow-delay=".8s" data-wow-offset="300">
                <div class="col-md-4">
                  <div class="skills-inner">
                    <i class="fa fa-magic fa-5x"></i>

                    <h3>Creativity</h3>

                    <p class="skill-text">
                      Throughout my life I have consistently craved a creative outlet. Whether it
                      be constructing a human nest, to building a snow scooter, or more recently in my life, web
                      design
                      and development, I have always gravitated towards the creative side of thinking. I hope to
                      continue tapping into my creativity in order to produce fun and exciting work.
                    </p>
                    <blockquote>
                      <p style="font-style: italic; word-spacing: .2em;"> Creativity to me is just like... like a...
                        bird, like a friendly
                        bird, that embraces all... ideas, and just like, shoots... out of its eyes, all kinds of
                        beauty.
                      </p>
                    </blockquote>
                    <cite>-Liz Lemon</cite>
                  </div>
                </div>
              </div>
              <!--skillset area-->
              <div class="skills-inner-wrap wow bounceInRight" data-wow-delay="1.6s" data-wow-offset="300">
                <div class="col-md-4">
                  <div class="skills-inner">
                    <i class="fa fa-lightbulb-o fa-5x"></i>

                    <h3>Diverse Skillset</h3>

                    <p class="skill-text">
                      I would consider myself a generalist in regards to web development. In the past year I became
                      interested in working with Ruby on Rails for building web applications. Last May I attended
                      Launch
                      Academy, a Ruby on Rails boot camp, and learned ruby fundamentals and the mvc design pattern.
                      While
                      progressing as a developer, I saw a need to learn how to manipulate graphics. I took it upon
                      myself to become comfortable in working with both raster and vector graphics. Throughout my
                      experience as a developer I have truly enjoyed the design aspect and I continue to push myself
                      to
                      create better designs with the more experience I gain.
                    </p>
                  </div>
                </div>
              </div>
              <!--work well with others area-->
              <div class="skills-inner-wrap wow bounceInRight" data-wow-delay="2.4s" data-wow-offset="300">
                <div class="col-md-4">
                  <div class="skills-inner">
                    <i class="fa fa-users fa-5x"></i>

                    <h3>Work Well With Others</h3>

                    <p class="skill-text">
                      Throughout my career, I have had the opportunity to work with a variety of people, each with
                      different skills and
                      strengths. By collaborating with different team members, and listening to various opinions, I am
                      not only able to consider new ideas but I am also able to consistently put forth my own ideas. I
                      have learned
                      to
                      to raise questions that the team should consider before moving forward on a project and have
                      realized that one should not get too attached to one's work--because it will likely change. I
                      have
                      become accustomed to taking criticism, since it is instrumental in gaining perspective to one's
                      work. I have a laid back personality and plenty of patience, which allows me to work well with
                      anyone.
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--good fit area-->
<section>
  <div class="container-fluid good-fit-wrap">
    <div class="container good-fit">
      <div class="row">
        <div class="col-md-5 wow bounceInLeft" data-wow-delay=".6s">
          <h3>Why I Would Be a Good Fit</h3>

          <p>
            I believe that the combination of my personality and skills make me well-suited to work at your company.
            I welcome any chance to learn from others and I believe that this opportunity would help me thrive as a
            developer. My well rounded skill set could be utilized and I would be able to work on a variety of
            projects
            that would contribute to my diversification. There would be great potential to become inspired by other
            team
            members and to push myself to continue learning and discovering something new each day.
          </p>
        </div>
        <!--mobile footer section-->
        <div class="mobile-footer hidden-lg">
          <h4 style="padding-top: 20px;">Proficiencies</h4>

          <!--mobile proficiencies-->
          <%= render 'proficiencies_mobile' %>

          <div style="text-align: center;">
            <a href="https://github.com/jdwallace12" target="_blank">
              <i class="fa fa-github fa-3x"></i>
            </a>
            <a href="https://www.linkedin.com/in/johndavidwallace" target="_blank">
              <i class="fa fa-linkedin fa-3x" style="margin-left: 25px;"></i>
            </a>
            <a href="http://www.johnwallacedesigns.com" target="_blank">
              <i class="fa fa-home fa-3x" style="margin-left: 25px;"></i>
            </a>
          </div>
        </div>
        <!--mobile footer ends-->

        <div class="col-md-2 plus-sign">
          <i class="fa fa-plus fa-5x"></i>
        </div>
        <!--your logo here-->
        <div class="col-md-5 wow bounceInRight" data-wow-delay=".6s">
          <div class="fresh-logo">
            <img class="img-thumbnail" src="../your_company.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
<% if !is_mobile_or_tablet %>
    <!--footer area-->
    <footer>
      <div class="container-fluid footer navbar-fixed-bottom visible-lg visible-md" data-1000="display: none" data-1800="height:2%; display:block; opacity:0;" data-2700="height:100%; opacity:1;">  <!--have nav appear towards the bottom -->
        <div class="row">
          <div class="container" data-0="opacity:1;" data-5000="opacity:1;" data-6000="opacity:0;">
          </div>
        </div>
        <!--proficiencies area-->
        <div class="container">
          <div class="proficiencies">
            <div class="row">
              <div class="col-md-12">
                <audio id="waterfall" preload="metadata" loop="loop">
                  <source src="../waterfall.wav">
                </audio>
                <h1>Proficiencies</h1>
              </div>

              <!--desktop proficiencies-->
              <%= render 'proficiencies' %>

              <!--social icons-->
              <div class="col-md-12" style="text-align: center;">
                <div class="social-icons wow bounceInUp" data-wow-delay="11s" data-wow-duration="3s">
                  <a href="https://github.com/jdwallace12" target="_blank">
                    <i class="fa fa-github fa-5x"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/johndavidwallace" target="_blank">
                    <i class="fa fa-linkedin fa-5x" style="margin-left: 25px;"></i>
                  </a>
                  <a href="http://www.johnwallacedesigns.com" target="_blank">
                    <i class="fa fa-home fa-5x" style="margin-left: 25px;"></i>
                  </a>
                  <a href="#top" id="back-to-top-link" class="back-to-top"><i class="fa fa-angle-up fa-3x wow pulse" data-wow-delay="13s" data-wow-iteration="10"></i></a>
                </div>
                <div style="position: relative; left:38%; top: -375px;">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="250px" height="200px">
                    <path
                    style="fill:none;stroke:rgba(255, 255, 255, 0.71);stroke-width:7;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:6000;stroke-dashoffset:0"
                    data-0="stroke-dashoffset:10000" data-end="stroke-dashoffset:5250;"
                    <path d="M39.419,93.879c-7.853,0.789-17.833-1.184-21.125-9.431c-3.926-9.833,7.469-15.056,14.736-17.687
			c3.672-1.329,8.375-3.066,12.126-1.148c3.993,2.042,6.34,8.047,7.735,12.037c2.965,8.479,4.403,20.777,0.467,29.168
			c-3.219,6.864-12.603,10.321-19.602,8.37c-5.012-1.397-9.672-6.603-7.283-11.969C30.989,93.078,46.423,91.869,55.7,90.502
			c5.516-0.812,11.482-1.767,15.979-5.292c4.224-3.312,6.577-7.65,11.974-3.809c0.279-2.132,0.558-4.265,0.836-6.397
			c-9.68,1.525-37.086,4.648-26.093,20.811c4.678,6.879,14.709,13.378,21.864,6.169c5.759-5.802,6.197-17.29,3.535-24.536
			c-1.435,1.436-2.87,2.871-4.306,4.306c6.675,1.516,13.598,1.815,19.712-1.688c5.323-3.05,8.253-8.907,9.919-14.57
			c3.792-12.894,1.847-26.905,1.799-40.117c-0.014-3.836-6.242-4.921-6.875-0.931c-4.934,31.105-6.076,62.566-3.125,93.931
			c2.292-0.31,4.583-0.62,6.875-0.931c-4.64-13.038-9.567-33.416,4.584-42.137c11.9-7.334,17.485,17.871,19.666,24.998
			c1.23,4.021,6.406,2.835,6.875-0.931c0.835-6.699,2.653-14.806,8.524-18.966c4.33-3.068,9.748-2.452,14.509-0.897
			c11.959,3.906,22.322,15.443,27.092,26.793c1.726,4.105,7.583,2.668,6.75-1.861c-1.119-6.086-5.118-14.764-2.439-20.806
			c1.765-3.982,10.713,0.071,13.253,1.025c6.475,2.433,12.626,5.705,18.919,8.558c4.674,2.119,9.675,4.475,14.892,4.653
			c4.516,0.154,4.501-6.846,0-7c-6.335-0.216-12.983-4.417-18.562-7.053c-6.937-3.277-14.119-6.992-21.738-8.344
			c-5.486-0.974-11.687,0.342-13.553,6.345c-2.5,8.039,1.024,16.583,2.477,24.483c2.25-0.621,4.5-1.241,6.75-1.861
			c-6.113-14.546-18.754-28.259-34.403-32.398c-6.453-1.707-13.494-0.864-18.822,3.314c-7.279,5.709-9.562,15.287-10.65,24.015
			c2.292-0.31,4.583-0.62,6.875-0.931c-3.543-11.581-10.475-38.067-28.009-30.14c-19.672,8.894-15.626,34.462-9.741,51.001
			c1.244,3.495,7.267,3.231,6.875-0.931c-2.889-30.707-1.957-61.605,2.875-92.069c-2.292-0.311-4.583-0.621-6.875-0.931
			c0.041,11.244,1.305,22.632-0.55,33.799c-0.815,4.909-2.333,9.949-5.957,13.521c-4.193,4.134-10.841,3.491-16.062,2.305
			c-2.394-0.543-5.28,1.653-4.306,4.306c1.898,5.163,1.711,11.642-0.913,16.532c-3.416,6.365-11.868-2.01-13.101-6.286
			c-1.587-5.507,19.921-7.266,23.319-7.801c3.312-0.522,2.998-4.858,0.836-6.397c-3.49-2.484-7.667-3.925-11.759-1.926
			c-4.32,2.111-6.947,6.531-11.55,8.134c-6.433,2.239-13.474,2.546-20.139,3.733c-5.667,1.009-11.321,3.329-16.094,6.546
			c-5.894,3.973-9.626,10.056-8.522,17.249c0.948,6.179,6.577,10.556,12.049,12.608c6.98,2.618,14.954,0.586,20.864-3.548
			c7.813-5.466,10.092-13.216,10.403-22.406c0.329-9.703-1.842-19.146-6.283-27.725c-4.28-8.269-11.219-11.458-20.203-9.466
			C24.264,61.149,8.694,68.784,10.786,83.136c1.946,13.35,16.715,18.939,28.633,17.743C43.867,100.432,43.91,93.428,39.419,93.879
			L39.419,93.879z"/>

                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--/footer-->
<% end %>

<% if !is_mobile_or_tablet %>
    <script>
        var s = skrollr.init([smoothScrolling = true]);      // instantiate skrollr
        new WOW().init();            // instantiate wow.js
    </script>
<% end %>

<script>

    //    play sounds when person mouses over footer area
    var waterfall = $('#waterfall')[0]
    $('.footer').on('mouseenter', function () {
        waterfall.play();
        waterfall.volume = .3;
    });

    //    stop play sounds when they leave footer
    $('.footer').on('mouseleave', function () {
        waterfall.pause();
    });

    //smooth scroll link in the header
    var hashTagActive = "";
    $("#objective-link").click(function (event) {
        if (hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
            event.preventDefault();
            //calculate destination place
            var dest = 0;
            if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                dest = $(document).height() - $(window).height();
            } else {
                dest = $(this.hash).offset().top;
            }
            //go to destination
            $('html,body').animate({
                scrollTop: dest
            }, 5000, 'swing');
            hashTagActive = this.hash;
        }
    });

    //smooth scroll back to top probably could do this with skrollr
    var hashTagActive = "";
    $("#back-to-top-link").click(function (event) {
        if (hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
            event.preventDefault();
            //calculate destination place
            var dest = 0;
            if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                dest = $(document).height() - $(window).height();
            } else {
                dest = $(this.hash).offset().top;
            }
            //go to destination
            $('html,body').animate({
                scrollTop: dest
            }, 2000, 'swing');
            hashTagActive = this.hash;
        }
    });

</script>

