
<!--full screen section begins-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 hero" data-0="background-position: 0px 0px;" data-200="background-position:-300px -60px;">
      <div class="cloud" data-0="margin-left:-100px; margin-top:20px" data-100="margin-left:200px; margin-top:0px;">
        <img src="../clouds.png"/>
      </div>
      <div class="cloud" data-0="margin-left: 600px; margin-top:40px" data-100="margin-left:800px; margin-top:20px;">
        <img src="../clouds2.png"/>
      </div>
      <div class="cloud" data-0="margin-left: 790px; margin-top:120px" data-100="margin-left:900px; margin-top:100px;">
        <img src="../clouds2.png"/>
      </div>
      <div class="cloud" data-0="margin-left:200px; margin-top:-200px" data-100="margin-left:400px; margin-top:-220px;">
        <img src="../clouds3.png"/>
      </div>
      <div class="cloud" data-0="margin-left:950px; margin-top:-200px" data-100="margin-left:1200px; margin-top:-220px;">
        <img src="../clouds.png"/>
      </div>
    </div>
  </div>
</div>
<!--full screen section ends-->
<!--header area-->
<div class="container">
  <div class="row">
    <div class="info-area col-md-12">
      <h6>some text</h6>
    </div>
  </div>
</div>


<script>
    var s = skrollr.init();
</script>