<!--full screen section begins-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 hero" data-0="background-position: 0px 0px;" data-600="background-position:-300px -300px;">
      <div class="cloud" data-0="margin-left:-100px; margin-top:20px" data-100="margin-left:200px; margin-top:0px;">
        <img src="../clouds.png"/>
      </div>
      <div class="cloud" data-0="margin-left: 600px; margin-top:40px" data-100="margin-left:800px; margin-top:20px;">
        <img src="../clouds2.png"/>
      </div>
      <div class="cloud" data-0="margin-left: 790px; margin-top:120px" data-200="margin-left:900px; margin-top:50px;">
        <img src="../clouds2.png"/>
      </div>
      <div class="cloud" data-0="margin-left:200px; margin-top:-200px" data-300="margin-left:400px; margin-top:-220px;">
        <img src="../clouds3.png"/>
      </div>
      <div class="cloud" data-0="margin-left:950px; margin-top:-200px" data-100="margin-left:1200px; margin-top:-220px;">
        <img src="../clouds.png"/>
      </div>
      <!--profile pic area-->
      <div class="container">
        <div class="row">
          <div class="wow slideInLeft col-md-12 profile-pic" data-wow-delay="1.5s">
            <div class="profile-pic-inner" data-0="opacity:1;" data-10="opacity:0;">
              <img class="img-circle" src="../john_wallace.jpg"/>

              <h2>John Wallace</h2>
              <h4>Outdoor Enthusiast & Tinkerer</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--full screen section ends-->
<!--objective area-->
<div class="container">
  <div class="row">
    <div class="info-area col-md-12">
      <h1>Objective</h1>

      <p class="lead">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
        vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
        possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus
        dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc
        putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
        Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
      </p>
    </div>
  </div>
</div>

<!--what I have to offer area-->
<!--full width blue background-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 skills-area-wrap">
      <div class="arrow-down"></div>
      <!--what I have to offer inner area-->
      <div class="container">
        <div class="row">
          <div class="skills-title">
            <h1>What I Have to Offer</h1>
          </div>
          <div class="skills-area">
            <div class="skills-inner-wrap">
              <div class="col-md-4">
                <div class="skills-inner">
                  <i class="fa fa-magic fa-5x"></i>

                  <h3>Creativity</h3>

                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
            <div class="skills-inner-wrap">
              <div class="col-md-4">
                <div class="skills-inner">
                  <i class="fa fa-lightbulb-o fa-5x"></i>

                  <h3>Diverse Skillset</h3>

                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
            <div class="skills-inner-wrap">
              <div class="col-md-4">
                <div class="skills-inner">
                  <i class="fa fa-users fa-5x"></i>

                  <h3>Work Well With Others</h3>

                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var s = skrollr.init();      // instantiate skrollr
    new WOW().init();            // instantiate wow.js
</script>