<div id="skrollr-body"> <!--to make skrollr function on mobile -->
  <!--hero section begins-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 hero" data-0="background-position: 0px 0px;" data-600="background-position:-300px -300px;">
        <div class="cloud" data-0="margin-left:-100px; margin-top:20px" data-100="margin-left:200px; margin-top:0px;">
          <img src="../clouds.png"/>
        </div>
        <div class="cloud" style="position: relative; top:220px;" data-0="margin-left: 1200px; margin-top:-16%" data-100="margin-left:1600px; margin-top:-20%;">
          <img src="../cloud_large.png"/>
        </div>
        <div class="cloud" data-0="margin-left: 600px; margin-top:40px" data-100="margin-left:800px; margin-top:20px;">
          <img src="../clouds2.png"/>
        </div>
        <div class="cloud" data-0="margin-left: 790px; margin-top:120px" data-200="margin-left:900px; margin-top:50px;">
          <img src="../clouds2.png"/>
        </div>
        <div class="cloud" data-0="margin-left:200px; margin-top:-200px" data-300="margin-left:400px; margin-top:-220px;">
          <img src="../clouds3.png"/>
        </div>
        <div class="cloud" data-0="margin-left:950px; margin-top:-200px" data-100="margin-left:1200px; margin-top:-220px;">
          <img src="../clouds.png"/>
        </div>
        <!--profile pic area-->
        <div class="container">
          <div class="row">
            <div class="wow slideInLeft col-md-12 profile-pic-area" data-wow-delay=".5s">
              <div class="profile-pic-inner" data-0="opacity:1;" data-10="opacity:0;">
                <h2>John Wallace</h2>
                <h4>Outdoor Enthusiast & Tinkerer</h4>
              </div>
            </div>
          </div>
          <div class="profile-pic">
            <img class="img-circle" src="../john_wallace.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--hero section ends-->
  <!--objective area-->
  <div class="container">
    <div class="row">
      <div class="my-objective col-md-12">
        <h1>My Objective</h1>

        <p>
          To obtain a challenging and rewarding web developer
          position where I can utilize my knowledge, proficiency, and skills to
          contribute to a company's growth. To grow as a developer by learning from colleagues and continually nurturing
          my creative personality.
        </p>
      </div>
    </div>
  </div>

  <!--what I have to offer area-->
  <!--full width blue background-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 skills-area-wrap">
        <div class="arrow-down"></div>
        <!--what I have to offer inner area-->
        <div class="container">
          <div class="row">
            <div class="skills-title">
              <h1>What I Have to Offer</h1>
            </div>
            <div class="skills-area">
              <!--creativity area-->
              <div class="skills-inner-wrap wow bounceInDown" data-wow-delay=".2s">
                <div class="col-md-4">
                  <div class="skills-inner">
                    <i class="fa fa-magic fa-5x"></i>

                    <h3>Creativity</h3>

                    <p class="skill-text">
                      Creativity is expressed in many forms and throughout my life I have always craved this outlet. Whether it
                      be constructing a human nest, to building a snow scooter, or more recently in my life, web design
                      and development, I have always gravitated towards the creative side of thinking. I hope to
                      continue tapping into my creativity in order to produce fun and exciting work.
                    </p>
                    <blockquote>Creativity to me is just like... like a... bird, like a friendly
                      bird, that embraces all... ideas, and just like, shoots... out of its eyes, all kinds of beauty.
                    </blockquote>
                    <cite>Liz Lemon</cite>
                  </div>
                </div>
              </div>
              <!--skillset area-->
              <div class="skills-inner-wrap wow bounceInDown" data-wow-delay=".5s">
                <div class="col-md-4">
                  <div class="skills-inner">
                    <i class="fa fa-lightbulb-o fa-5x"></i>

                    <h3>Diverse Skillset</h3>

                    <p class="skill-text">
                      I would consider myself a generalist in regards to web development. In the past year I became
                      interested in working with Ruby on Rails for building web applications. Last May I attended Launch
                      Academy, a Ruby on Rails boot camp, and learned ruby fundamentals and the mvc design pattern. While
                      progressing as a developer, I saw a need to learn how to manipulate graphics. I took it upon
                      myself to become comfortable in working with both raster and vector graphics. Throughout my
                      experience as a developer I have truly enjoyed the design aspect and I continue to push myself to
                      create better designs with the more experience I receive.
                    </p>
                  </div>
                </div>
              </div>
              <!--work well with others area-->
              <div class="skills-inner-wrap wow bounceInDown" data-wow-delay=".8s">
                <div class="col-md-4">
                  <div class="skills-inner">
                    <i class="fa fa-users fa-5x"></i>

                    <h3>Work Well With Others</h3>

                    <p class="skill-text">
                      I have had the opportunity to work with a variety of people, each with different skills and
                      strengths. By collaborating with different team members, and listening to various opinions, I am
                      not only able to consider new ideas but I am also able to put forth my own ideas. I have learned to
                      to raise questions that the team should consider before moving forward on a project and have
                      realized that one should not get too attached to one's work--because it will likely change. I have
                      become accustomed to taking criticism, since it is instrumental in gaining perspective to one's
                      work. I have a laid back personality and plenty of patience, which allows me to work well with
                      anyone.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--good fit area-->
  <div class="container good-fit">
    <div class="row">
      <div class="col-md-6" data-bottom="position:relative; left:-85%;" data-center="position:relative; left: 0px;">
        <h3>Why I Would Be a Good Fit</h3>

        <p>
          I believe that the combination of my personality and skills make me well-suited to work at Fresh Tilled Soil.
          I welcome any chance to learn from others and I believe that this opportunity would help me thrive as a
          developer. My well rounded skill set could be utilized and I would be able to work on a variety of projects
          that would contribute to my diversification. There would be great potential to become inspired by other team
          members and to push myself to continue learning and discovering something new each day.
        </p>
      </div>
      <!--fresh till logo pic-->
      <div class="col-md-6" data-bottom="position:relative; right:-85%;" data-center="position:relative; right: 0px;">
        <div class="fresh-logo">
          <img class="img-thumbnail" src="../fresh_till_logo.jpg"/>
        </div>
      </div>
    </div>
  </div>

  <!--footer area-->
  <div class="container-fluid footer">
    <div class="row">
      <div class="container">
        <div class="arrow-down"></div>
        <div class="col-md-6">
          <!--contact info left side-->
          <h5>Contact Me</h5>
          <ul class="list-inline">
            <li><%= mail_to 'mailto:jdwallace12@gmail.com', 'Email: jdwallace12@gmail.com' %></li>
            <li>Phone: (406) 600-9078</li>
          </ul>
        </div>
        <!--social icons-->
        <div class="col-md-6">
          <div class="social-icons pull-right">
            <a href="https://github.com/jdwallace12" target="_blank">
              <i class="fa fa-github-alt fa-5x"></i>
            </a>
            <a href="https://www.linkedin.com/in/johndavidwallace" target="_blank">
              <i class="fa fa-linkedin fa-5x" style="margin-left: 40px;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var s = skrollr.init();      // instantiate skrollr
    new WOW().init();            // instantiate wow.js
</script>