<div class="container">
  <div class="row">
    <h1>are we working</h1>

    <h3>how about now</h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="background: yellow;">
      <h5>am i full width</h5>
    </div>
  </div>
</div>
