///////////////////////////////////////global styles

//skrollr messing with overflow need this to block overflow
html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

//bootstrap is overriding this style reason for important
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
}

p {
  font-family: 'Lato', sans-serif;
}

///////////////////////////////////////hero styles

.cloud {
  opacity: .6;
}

.hero {
  background-image: url(../bowman_lake.jpg);
}

.profile-pic {
  img {
    border: 5px solid rgba(255, 255, 255, 0.29);
    position: absolute;
    bottom: -12%;
    left: 45%;
    width: 10%;
  }

}

.profile-pic-area {
  margin-top: 35%;
  padding-bottom: 15%;
}

.profile-pic-inner {
  margin-left: 35%;
  margin-top: -3%;

  h2 {
    color: #fbfaf5;
    font-size: 72px;
    text-shadow: 1px 1px 1px #5E5E5E;
  }
  h4 {
    color: #fbfaf5;
    margin-top: -7px;
    font-size: 30px;
    text-shadow: 1px 1px 1px #5E5E5E;
  }
}

///////////////////////////////////////my objective
.my-objective-wrap {
  background: #fbfaf5;
}

.my-objective {
  padding-top: 6%;
  padding-bottom: 8%;

  h1 {
    color: #696969;
    text-align: center;
  }
  p {
    margin: 5% 0%;
    font-size: 24px;
    color: #696969;
    max-width: 650px;
    margin: auto;
    padding-top: 2%;
    text-indent: 1.5em;
    text-align: center;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #fbfaf5;
  position: relative;
  margin: 0 auto;
  top: -200px
}

///////////////////////////////////////what I have to offer

.skills-area-wrap {
  background: #3498db;
  padding-top: 10%;
}

.skills-area {
  text-align: left;
  padding: 0% 0% 15% 0%;
}

.skills-title {
  text-align: center;
  margin: -12% 0% 4% 0%;
  h1 {
    color: #fbfaf5;
  }
}

.skills-inner-wrap {
  :hover {
    :hover {
      background: #2980b9;
    }
  }
}

.skills-inner {
  color: #fbfaf5;
  padding: 20px;
  margin-bottom: 30%;
  text-align: center;
}

p.skill-text {
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
  text-indent: 1.5em;

}

///////////////////////////////////////why I am a good fit

.good-fit-wrap {
  background: #ffffff;
  padding-bottom: 10%;

}

.good-fit {
  margin: 7% 0px;
  h3 {
    color: #696969;
    font-size: 32px;
  }
  p {
    font-size: 18px;
    color: #6B6B6B;
    line-height: 1.5;
    padding-top: 15px;
    text-indent: 1.5em;
    word-spacing: .2em;
  }
}

.plus-sign {
  text-align: center;
  color: #7f8c8d;
  position: relative;
  top: 155px;
}

.fresh-logo {
  img {
    width: 100%;
    margin-top: 25px;
  }
}

///////////////////////////////////////footer

.footer {
  background-image: url(../waterfall.gif);
  background-position: 0px 0px;
  background-size: cover;
  height: 130px;
  padding: 2% 0%;

  h5 {
    margin-top: -2%;
    color: #fbfaf5;
    text-shadow: 1px 1px 1px #5E5E5E;
  }
  p {
    color: #fbfaf5;
    text-shadow: 1px 1px 1px #5E5E5E;
    a {
      text-decoration: none;
      color: #ecf0f1;
      text-shadow: 1px 1px 1px #5E5E5E;
    }

  }
  .contact-info-wrap {
    font-size: 16px;
    line-height: 1.5;
    h5 {
      font-size: 14px;
    }
  }
  .social-icons {
    font-size: 2.5em;
    a {
      transition: color 0.8s ease;
      color: rgba(189, 195, 199, 0.57);
    }
    a:hover {
      text-decoration: none;
      color: #ecf0f1;
    }
  }
}

.footer .arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #fbfaf5;
  position: relative;
  margin: 0 auto;
  top: -60px
}

////////////////////////////////////////proficiencies
.fadeout {
  height: 200px;
}

.proficiencies {
  h1, li {
    color: #f5f5f5;
  }
  li {
    font-size: 16px;
  }
}

///////////////////////////////////////media queries

@media (max-width: 1600px) {
  .profile-pic img {
    bottom: -12%;
  }

  .profile-pic-inner {
    margin-top: -35%;
  }

  .arrow-down {
    position: relative;
    top: -155px;
  }

  .hero {
    height: 500px;
  }

  .cloud {
    padding-bottom: 7px;
  }
}

@media (max-width: 1260px) {
  .arrow-down {
    display: none;
  }

  .skills-title {
    margin-top: -5%;
  }

  .footer {
    height: 160px;
    margin-top: 30px;
  }
  .profile-pic-inner {
    margin-top: 10%;
  }
}

@media (max-width: 995px) {
  .plus-sign {
    display: none;
  }

  .fresh-logo {
    img {
      display: none;
    }
  }

  .good-fit p {
    max-width: 100%;
  }

  .profile-pic-inner {
    margin-left: 25%;
  }
  .footer-image {
    margin-top: 20px;
  }

  .social-icons {
    margin-top: -10%;
    font-size: .8em !important;
  }
}

@media (max-width: 548px) {
  .profile-pic-inner {
    margin-top: -80%;
    margin-left: 0;
    text-align: center;
    h2 {
      font-size: 36px;
    }
    h4 {
      font-size: 18px;
    }
  }

  .profile-pic {
    img {
      bottom: -10%;
      width: 30%;
      left: 37%;
    }
  }
  .footer {
    height: 200px;
    .social-icons {
      margin-top: 0;
    }
  }
}
