// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//bootstrap is overriding this style reason for important
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;

}

p {
  font-family: 'Lato', sans-serif;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #ffffff;
  position: relative;
  margin: 0 auto;
  top: -200px
}

.info-area {
  padding: 10px 0px;
}

.cloud {
  opacity: .6;
}

.hero {
  background-image: url(../bowman_lake.jpg);
  height: 780px;
}

.profile-pic {
  margin-top: 35%;
}

.profile-pic-inner {
  img {
    border: 5px solid rgba(255, 255, 255, 0.29);
  }
  h2 {
    display: inline;
    color: #fff;
    padding-left: 20px;
    font-size: 60px;
  }
  h4 {
    color: #fff;
    padding-left: 12%;
    margin-top: -40px;
    font-size: 25px;
  }
}

.info-area {
  padding: 7% 0%;

  h1 {
    color: #696969;
    text-align: center;
  }
  p {
    margin: 5% 0%;
  }
}

.skills-area-wrap {
  background: #3498db;
  padding-top: 10%;
}

.skills-area {
  text-align: center;
  padding: 0% 0% 15% 0%;
}

.skills-title {
  text-align: center;

  margin: -12% 0% 4% 0%;
  h1 {
    color: #ffffff;
  }
}

.skills-inner-wrap {
  :hover {
    :hover {
      background: #2980b9;
    }
  }
}

.skills-inner {
  color: #ffffff;
  padding: 20px;
  margin-bottom: 30%;
}

.footer {
//  background: #34495e;
  padding:60px;
}

//media queries
@media (max-width: 1650px) {
  .arrow-down {
    position: relative;
    top: -165px;
  }
}

@media (max-width: 1260px) {
  .arrow-down {
    display: none;
  }
  .skills-title {
    margin-top: -5%;
  }
}